apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - namespace.yaml

patchesStrategicMerge:
  - backstage-dev.yaml

images:
  - name: ghcr.io/pdaxh/backstage-ulp
    newTag: dev

replicas:
  - name: backstage
    count: 1

namespace: dev-portal

commonLabels:
  environment: dev
  app.kubernetes.io/instance: backstage-dev
