apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Secret
      name: backstage-secret
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: dev-portal
  - target:
      kind: ConfigMap
      name: backstage-config
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: dev-portal
  - target:
      kind: Deployment
      name: backstage
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: dev-portal
      - op: replace
        path: /spec/template/metadata/labels/environment
        value: dev
      - op: replace
        path: /spec/selector/matchLabels/environment
        value: dev
  - target:
      kind: Service
      name: backstage
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: dev-portal
  - target:
      kind: Ingress
      name: backstage
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: dev-portal
      - op: replace
        path: /spec/rules/0/host
        value: backstage-dev.ulp.com

images:
  - name: ghcr.io/pdaxh/backstage-ulp
    newTag: dev

replicas:
  - name: backstage
    count: 1

namespace: dev-portal

commonLabels:
  environment: dev
  app.kubernetes.io/instance: backstage-dev
